$regular: 'Roboto', sans-serif;
$primary: #0777bd;
$secondary: #7ec658;
$black: #252525;

@mixin text {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin basic-text {
  font-weight: 300;
  font-size: 18px;
}

@mixin secondary-header {
  font-weight: 500;
  font-size: 20px;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-cerave.es-cerave {
  font-family: $regular;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 930px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $black;
  background-color: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #111;
  }

  .es-kv {
    position: relative;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    &__logo {
      position: absolute;
      top: 50px;
      left: 30px;
    }
    &__images-container {
      padding-top: 120px;
      display: flex;
      justify-content: center;
    }
    &__images-wrapper {
      position: relative;
      max-width: 400px;
      opacity: 0;
      animation: slidedown 0.6s ease forwards;
      animation-delay: 0.3s;
    }
    &__label {
      position: absolute;
      top: 55%;
      left: 24px;
      width: 120px;
    }
    &__product {
      width: 100%;
    }
    &__header,
    &__subheader,
    &__text {
      @include text;
    }
    &__header {
      font-size: 26px;
      font-weight: 700;
      color: $primary;
    }
    &__subheader {
      margin: 20px 0;
    }
    &__subheader,
    &__text {
      @include secondary-header;
      font-weight: 400;
    }
    &__subheader span,
    &__text {
      color: $primary;
    }
    &__text-container {
      margin: 20px;
      opacity: 0;
      animation: slideright 0.6s ease forwards;
      animation-delay: 0.3s;
    }
  }

  .es-solution {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__header,
    &__subheader,
    &__text {
      @include text;
      text-align: center;
    }

    &__header,
    &__subheader {
      font-weight: bold;
    }

    &__header {
      text-transform: uppercase;
      font-size: 20px;
    }

    &__subheader {
      margin-bottom: 25px;
      @include secondary-header;
    }

    &__text {
      @include basic-text;
      font-size: 17px;
    }

    &__single {
      margin: 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__icon {
      margin: 20px 0;
    }
  }

  .es-band {
    &__icons {
      background: #a1cbe6;
      margin: 40px 0;
      padding: 32px 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      min-height: 244px;
    }
    &__single {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 216px;
      height: 180px;
    }
    &__text,
    &__disclaimer {
      @include basic-text;
      text-align: center;
    }
    &__disclaimer {
      margin: 40px 20px;
      line-height: 1.3;
    }
    &__disclaimer-title {
      @include basic-text;
      text-align: center;
      font-size: 22px;
    }
  }

  .es-ingredients {
    &__text-container {
      margin: 40px 20px;
    }
    &__header {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 40px;
    }
    &__single {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 20px 0;
    }
    &__icon {
      width: 80px;
      z-index: 3;
    }
    &__icon-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-top: 7px;
      width: 100%;
    }
    &__line {
      max-width: 100%;
      margin-left: -20px;
      height: 2px;
    }
    &__label {
      @include secondary-header;
      margin: 0 0 5px 15px;
    }
    &__text {
      @include basic-text;
      padding: 5px 0 0 15px;
      margin: 0;
      border-top: 2px solid $primary;
      width: 100%;
    }
    &__image {
      width: 100%;
      max-height: 600px;
      object-fit: contain;
      object-position: right;
      margin-bottom: 40px;
    }
  }

  .es-technology {
    margin: 0;
    padding: 0;
    &__single {
      width: 100%;
      display: flex;
      flex-direction: row;
      width: 100%;
      &:first-of-type {
        .es-technology__text-container {
          background-color: $primary;
        }
      }
      &:nth-of-type(2) {
        .es-technology__text-container {
          background-color: #045181;
        }
      }
    }
    &__img {
      width: 50%;
      object-fit: cover;
    }
    &__text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      padding: 20px 10px;
    }
    &__header,
    &__text {
      @include text;
      color: #fff;
      text-align: center;
    }
    &__header {
      @include secondary-header;
      margin-bottom: 20px;
      font-size: 18px;
    }
    &__text {
      @include basic-text;
      font-size: 16px;
    }
  }

  .es-products {
    margin: 60px 20px;
    &__header,
    &__product-header,
    &__text {
      @include text;
      text-align: center;
    }
    &__header {
      font-size: 40px;
      margin-bottom: 40px;
      font-weight: 300;
    }

    &__product-header {
      @include secondary-header;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    &__text {
      @include basic-text;
    }

    &__single {
      width: 100%;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      &:first-of-type {
        span {
          color: $secondary;
          font-weight: bold;
        }
      }
      &:nth-of-type(2) {
        span {
          color: $primary;
          font-weight: bold;
        }
      }
    }
    &__image {
      max-width: 150px;
      margin-bottom: 20px;
    }

    &__button {
      background-color: $secondary;
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      padding: 8px 24px;
      border-radius: 8px;
      font-weight: 500;
      margin-top: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    .es-kv {
      &__header {
        font-size: 34px;
      }
      &__content-wrapper {
        display: flex;
        flex-direction: row-reverse;
      }
      &__text-container,
      &__images-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &__images-container {
        padding: 40px 0 0 0;
        width: 60%;
      }
      &__images-wrapper {
        max-width: 450px;
      }
      &__text-container {
        margin: 90px 0 40px 40px;
        width: 40%;
      }
      &__label {
        position: absolute;
        top: 56%;
        left: 32px;
      }
      &__logo {
        left: 40px;
      }
    }
    .es-solution {
      margin: 65px 0 0 0;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      &__single {
        max-width: 365px;
        margin: 0;
        &:first-of-type {
          padding: 0 46px;
        }
      }
    }

    .es-products {
      &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
      }
      &__single {
        margin: 0 5%;
      }
    }

    .es-band {
      &__icons {
        margin-top: 100px;
        margin-bottom: 64px;
        width: 100%;
        justify-content: center;
      }
      &__disclaimer {
        margin: 40px 4% 40px 4%;
      }
      &__disclaimer-title {
        margin: 0;
        font-size: 30px;
      }
    }

    .es-technology {
      display: flex;
      flex-direction: row;
      &__single {
        width: 50%;
      }
      &__text-container {
        justify-content: flex-start;
        padding-left: 15px;
        padding-right: 15px;
      }
      &__header {
        margin-top: 20px;
      }
      &__text {
        margin-bottom: 20px;
      }
    }

    .es-ingredients {
      display: flex;
      &__text-container,
      &__image-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &__image {
        margin-bottom: 0;
      }
      &__text-container {
        margin: 40px;
      }
      &__header {
        font-size: 36px;
      }
    }
  }

  @media screen and (min-width: 850px) {
    .es-band {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 485px;
        top: -50px;
        transform: translateX(-45%);
        background: url(./images/band-bg.png) left top no-repeat;
        background-size: contain;
      }
      &__icons {
        justify-content: right;
      }
      &__disclaimer-title {
        font-size: 27px;
      }
      &__disclaimer {
        margin-top: 30px;
        font-size: 15px;
      }
    }

    .es-products {
      &__image {
        max-width: 175px;
        min-height: 345px;
        margin-bottom: 43px;
      }
      &__text {
        width: 324px;
        font-size: 18px;
      }
    }
  }

  @media screen and (min-width: 930px) {
    .es-band {
      &__icons {
        margin-right: 50px;
      }

      &::before {
        transform: translateX(-25%);
      }
    }
    .es-kv {
      &__logo {
        top: 120px;
      }
      &__label {
        width: 130px;
      }
      &__images-container {
        padding: 40px 0 0 40px;
      }
      &__text-container {
        width: 33%;
      }
      &__content-wrapper {
        justify-content: space-between;
      }
    }
    .es-ingredients {
      margin-bottom: 40px;
      &__text-container {
        width: 45%;
      }
      &__image-container {
        width: 55%;
      }
      &__label {
        margin: 0 0 5px 20px;
      }
      &__text {
        padding: 5px 0 0 20px;
      }
    }
  }

  @keyframes slidedown {
    from {
      opacity: 0;
      transform: translateY(-32px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideright {
    from {
      opacity: 0.3;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
